@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    margin-top: 10px;
}


.header{
    display: flex;
    justify-content: space-between;
    




}
.navbar{
    display: flex;
    justify-content: right; 
     height: 60px;  

}




.logo{
    display: flex;
    height: 200px; 
    



}

